/*absolutely center*/
.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
/*space between content*/

.space-contents {

  > * {
    margin-right: .25rem;
  }
}


[dir='rtl'] {
  .space-contents {

    > * {
      margin-right: initial;
      margin-left: .25rem;
    }
  }
}
