
<form class="form-signin"
      autocomplete="off"
      #formModel="ngForm">
  <div class="text-center mb-4">
    <a href="/"
       class="link-unstyled">
      <img class="mb-2" src="/img/icon.png" alt="" width="72" height="72">
      <h1 class="h4 mb-3 font-weight-normal mb-4">RichBook</h1>
    </a>
  </div>
  <div class="alert alert-info"
       role="alert"
       [innerText]="'Messages.emailConfirmationMessage' | translate">
  </div>
  <label class="text-danger"
         *ngFor="let item of formModel.form | transformErrors"
         [innerText]="['Errors',item.message].join('.') | translate">
  </label>

  <div class="form-label-group">
    <input type="text"
           [(ngModel)]="emailConfirmationModel.token"
           name="token"
           #token="ngModel"
           [class.is-invalid]="token.invalid && token.touched"
           id="inputEmail"
           class="form-control"
           [placeholder]="'ConfirmationModel.token' | translate"
           required
           autofocus>
    <label for="inputEmail"
           [innerText]="'ConfirmationModel.token' | translate">
    </label>
    <div class="invalid-feedback"
         *ngFor="let item of formModel.form | transformErrors:'token'"
         [innerText]="['Errors',item.message].join('.') | translate">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block"
          type="submit"
          (click)="onSubmit()">
    <i class="spinner-grow spinner-grow-sm"
       *ngIf="confirmationState.IsWait"></i>
    <span [innerText]="'Labels.ok' | translate"
          *ngIf="!confirmationState.IsWait">
    </span>
  </button>

  <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
</form>
