
  <form class="form-signin"
        autocomplete="off"
        #formModel="ngForm">
    <div class="text-center mb-4">
      <a href="/"
         class="link-unstyled">
        <img class="mb-2" src="/img/icon.png" alt="" width="72" height="72">
        <h1 class="h4 mb-3 font-weight-normal mb-4">RichBook</h1>
      </a>
    </div>
    <div class="alert alert-info"
         role="alert"
         [innerText]="'Messages.emailConfirmationMessage' | translate">
    </div>
    <label class="text-danger"
           *ngFor="let item of formModel.form | transformErrors"
           [innerText]="['Errors',item.message].join('.') | translate">
    </label>

    <div class="form-label-group">
      <input type="text"
             [(ngModel)]="resetPasswordModel.token"
             name="token"
             #token="ngModel"
             [class.is-invalid]="token.invalid && token.touched"
             id="inputEmail"
             class="form-control"
             [placeholder]="'ResetPasswordModel.token' | translate"
             required
             autofocus>
      <label for="inputEmail"
             [innerText]="'ResetPasswordModel.token' | translate">
      </label>
      <div class="invalid-feedback"
           *ngFor="let item of formModel.form | transformErrors:'token'"
           [innerText]="['Errors',item.message].join('.') | translate">
      </div>
    </div>
    <div class="form-label-group">
      <input type="password"
             [(ngModel)]="resetPasswordModel.newPassword"
             name="newPassword"
             #newPassword="ngModel"
             id="inputPassword"
             [class.is-invalid]="newPassword.invalid && newPassword.touched"
             class="form-control"
             [placeholder]="'ResetPasswordModel.newPassword' | translate"
             required>
      <label for="inputPassword"
             [innerText]="'ResetPasswordModel.newPassword' | translate">
      </label>
      <div class="invalid-feedback"
           *ngFor="let item of formModel.form | transformErrors:'newPassword'"
           [innerText]="['Errors',item.message].join('.') | translate">
      </div>
    </div>
    <div class="form-label-group">
      <input type="password"
             [(ngModel)]="resetPasswordModel.confirmNewPassword"
             name="confirmNewPassword"
             #confirmNewPassword="ngModel"
             id="inputconfirmPassword"
             [class.is-invalid]="confirmNewPassword.invalid && confirmNewPassword.touched"
             class="form-control"
             [placeholder]="'ResetPasswordModel.confirmNewPassword' | translate"
             required>
      <label for="inputPassword"
             [innerText]="'ResetPasswordModel.confirmNewPassword' | translate">
      </label>
      <div class="invalid-feedback"
           *ngFor="let item of formModel.form | transformErrors:'confirmNewPassword'"
           [innerText]="['Errors',item.message].join('.') | translate">
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block"
            [disabled]="resetPasswordState.IsWait || formModel.invalid"
            type="submit"
            (click)="onSubmit()">
      <i class="spinner-grow spinner-grow-sm"
         *ngIf="resetPasswordState.IsWait"></i>
      <span [innerText]="'Labels.ok' | translate"
            *ngIf="!resetPasswordState.IsWait">
      </span>
    </button>

    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
  </form>
