@font-face {
  font-family: 'IranSans';
  src: url('/assets/fonts/IRANSans.ttf') format('truetype')
}

html,
body {
  font-family: 'IranSans', Tahoma, Open Sans;
}

/*body {
  font-family: "Yekan","Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-decoration: none;
}*/


.container-fluid {
  padding-top: 15px
}

.ui-toolbar.table-toolbar {
  padding: 5px;

  .input-group {
    .form-control {
      height: 2em;
    }

    .input-group-append {
      height: 2em;
    }
  }

  .ui-toolbar-group-left {
    display: flex;
  }
}

.card {
  .card-footer {
    //all element except first one
    button:nth-child(n+2) {
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}

p-toggleButton.form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border: none;
}

.badge.form-control {
}

/*.card {
  .card-header {
    padding: 6px 20px;
    cursor: pointer;
  }

  .card-footer {
    padding: 3px 20px;

    button {
      height: 2.2em;

      .ui-button-text {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}*/

.ui-table {
  thead {
    tr {
      line-height: 1.25em;
    }
  }

  tbody {
    tr {
      line-height: 1em;
    }
  }
}

[dir='rtl'] {
  .ltr-input {
    direction: ltr;
  }

  .ltr-input::-webkit-input-placeholder { /* Edge */
    direction: rtl;
  }

  .ltr-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    direction: rtl;
  }

  .ltr-input::placeholder {
    direction: rtl;
  }
}

p-selectbutton {

  &.form-control {
    display: inline-flex;
    border: none;
    padding: 0
  }

  .ui-selectbutton {
    display: flex;
    flex-direction: row-reverse;
  }
}

.is-required:after {
  content: " *";
  color: red;
}
.right_to_left{
    direction:rtl;
    text-align:justify;
}
.left_to_right {
  direction: ltr;
  text-align: justify;
}
