<form class="form-signin"
      autocomplete="off"
      #formModel="ngForm">
  <div class="text-center mb-4">
    <a href="/"
       class="link-unstyled">
      <img class="mb-2" src="/img/icon.png" alt="" width="72" height="72">
      <h1 class="h4 mb-3 font-weight-normal mb-4">RichBook</h1>
    </a>
  </div>

  <label class="text-danger"
         *ngFor="let item of formModel.form | transformErrors"
         [innerText]="['Errors',item.message].join('.') | translate">
  </label>

  <div class="form-label-group">
    <input type="email"
           email
           [(ngModel)]="registerModel.email"
           name="email"
           #email="ngModel"
           [class.is-invalid]="email.invalid && email.touched"
           id="inputEmail"
           class="form-control"
           [placeholder]="'RegisterModel.email' | translate"
           required
           autofocus>
    <label for="inputEmail"
           [innerText]="'RegisterModel.email' | translate">
    </label>
    <div class="invalid-feedback"
         *ngFor="let item of formModel.form | transformErrors:'email'"
         [innerText]="['Errors',item.message].join('.') | translate">
    </div>
  </div>
  <div class="form-label-group">
    <input type="password"
           [(ngModel)]="registerModel.password"
           name="password"
           #password="ngModel"
           id="inputPassword"
           [class.is-invalid]="password.invalid && password.touched"
           class="form-control"
           [placeholder]="'RegisterModel.password' | translate"
           required>
    <label for="inputPassword"
           [innerText]="'RegisterModel.password' | translate">
    </label>
    <div class="invalid-feedback"
         *ngFor="let item of formModel.form | transformErrors:'password'"
         [innerText]="['Errors',item.message].join('.') | translate">
    </div>
  </div>
  <div class="form-label-group">
    <input type="password"
           [(ngModel)]="registerModel.confirmPassword"
           name="confirmPassword"
           #confirmPassword="ngModel"
           id="inputconfirmPassword"
           [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"
           class="form-control"
           [placeholder]="'RegisterModel.confirmPassword' | translate"
           required>
    <label for="inputPassword"
           [innerText]="'RegisterModel.confirmPassword' | translate">
    </label>
    <div class="invalid-feedback"
         *ngFor="let item of formModel.form | transformErrors:'confirmPassword'"
         [innerText]="['Errors',item.message].join('.') | translate">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block"
          [disabled]="registerState.IsWait || formModel.invalid"
          type="submit"
          (click)="onSubmit()">
    <i class="spinner-grow spinner-grow-sm"
       *ngIf="registerState.IsWait"></i>
    <span [innerText]="'Labels.register' | translate"
          *ngIf="!registerState.IsWait">
    </span>
  </button>
  <small id="registerHelpBlock"
         class="form-text text-muted text-center"
         *ngIf="formModel.invalid"
         [innerText]="'Messages.PleaseFillFormCompletely' | translate">
  </small>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
</form>
