$green: #00e38c;
$blue: #13c8ff;
$secondary: #6c757d;
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

