<form class="form-signin"
      autocomplete="off"
      #formModel="ngForm">
  <div class="text-center mb-4">
    <a href="/"
       class="link-unstyled">
      <img class="mb-2" src="/img/icon.png" alt="" width="72" height="72">
      <h1 class="h4 mb-3 font-weight-normal mb-4">RichBook</h1>
    </a>
  </div>

  <label class="text-danger"
         *ngFor="let item of formModel.form | transformErrors"
         [innerText]="['Errors',item.message].join('.') | translate">
  </label>

  <div class="form-label-group">
    <input type="text"
           [(ngModel)]="loginModel.username"
           name="username"
           #username="ngModel"
           [class.is-invalid]="username.invalid && username.touched"
           id="inputEmail"
           class="form-control"
           [placeholder]="'LoginCredentialsModel.username' | translate"
           required
           autofocus>
    <label for="inputEmail"
           [innerText]="'LoginCredentialsModel.username' | translate">
    </label>
    <div class="invalid-feedback"
         *ngFor="let item of formModel.form | transformErrors:'username'"
         [innerText]="['Errors',item.message].join('.') | translate">
    </div>
  </div>
  <div class="form-label-group">
    <input type="password"
           [(ngModel)]="loginModel.password"
           name="password"
           #password="ngModel"
           id="inputPassword"
           [class.is-invalid]="password.invalid && password.touched"
           class="form-control"
           [placeholder]="'LoginCredentialsModel.password' | translate"
           required>
    <label for="inputPassword"
           [innerText]="'LoginCredentialsModel.password' | translate">
    </label>
    <div class="invalid-feedback"
         *ngFor="let item of formModel.form | transformErrors:'password'"
         [innerText]="['Errors',item.message].join('.') | translate">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block"
          [disabled]="loginState.IsWait || formModel.invalid"
          type="submit"
          (click)="onSubmit()">
    <i class="spinner-grow spinner-grow-sm"
       *ngIf="loginState.IsWait"></i>
    <span [innerText]="'Labels.Login' | translate"
          *ngIf="!loginState.IsWait">
    </span>
  </button>
  <hr />
  <div class="row mt-2">
    <div class="col-6">
      <button class="btn btn-outline-success btn-block"
              [disabled]="loginState.IsWait"
              type="submit"
              routerLink="../register">
        <span [innerText]="'Labels.register' | translate">
        </span>
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-secondary btn-block"
              [disabled]="loginState.IsWait"
              type="submit"
              routerLink="../send-reset-password-token">
        <span [innerText]="'Labels.resetPassword' | translate">
        </span>
      </button>
    </div>

  </div>


  <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
</form>
