<div class="text-md-right">
  <button type="button"
          class="btn btn-success btn-icon-split mr-3"
          routerLink="../">
    <span class="icon text-white-50">
      <i class="fa fa-times"></i>
    </span>
    <span class="text"
          [innerText]="'Labels.newPath' | translate"></span>
  </button>
  <button type="button"
          class="btn btn-success btn-icon-split"
          routerLink="../">
    <span class="icon text-white-50">
      <i class="fa fa-times"></i>
    </span>
    <span class="text"
          [innerText]="'Labels.newChallenge' | translate"></span>
  </button>
</div>

<div class="row m-0">
  <div class="col-md-6 col-lg-4  m-0 p-0">
    <div class="card entity_count">
      <div class="card-body">
        <dl class="w-50">
          <dt class="">مسیر ها</dt>
          <dd class="">2</dd>
        </dl>
        <dl class="w-50">
          <dt class="">چالش ها</dt>
          <dd class="">15</dd>
        </dl>
      </div>
    </div>
  </div>
</div>


