<div class="card ">
  <div class="card-header bg-info text-white">
    <span>
      <i class="fa fa-pen align-middle mx-1"></i>
      {{'Labels.edit' | translate}}
    </span>
  </div>
  <div class="card-body">
    <span *ngIf="getState.IsWait"
          class="d-flex mx-auto spinner-grow">
    </span>
    <form #formModel="ngForm"
          [hidden]="getState.IsWait">
      <label class="text-danger"
             *ngFor="let item of formModel.form | transformErrors"
             [innerText]="['Errors',item.message].join('.') | translate">
      </label>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name"
                 [innerText]="'BookEditModel.name' | translate">
          </label>
          <input [(ngModel)]="editModel.name"
                 required
                 class="form-control"
                 name="name"
                 id="name"
                 [placeholder]="'BookEditModel.name' | translate">
          <label class="text-danger"
                 *ngFor="let item of formModel.form | transformErrors:'name'"
                 [innerText]="['Errors',item.message].join('.') | translate">
          </label>
        </div>
        <div class="form-group col-md-4">
          <label for="description"
                 [innerText]="'BookEditModel.description' | translate">
          </label>
          <textarea [(ngModel)]="editModel.description"
                    required
                    class="form-control"
                    name="description"
                    id="description"
                    [placeholder]="'BookEditModel.description' | translate">
          </textarea>
          <label class="text-danger"
                 *ngFor="let item of formModel.form | transformErrors:'description'"
                 [innerText]="['Errors',item.message].join('.') | translate">
          </label>
        </div>
        <div class="form-group col-md-4">
          <label for="imageUrl"
                 [innerText]="'BookEditModel.imageUrl' | translate">
          </label>
          <input [(ngModel)]="editModel.imageUrl"
                 url
                 required
                 class="form-control"
                 name="imageUrl"
                 id="imageUrl"
                 [placeholder]="'BookEditModel.imageUrl' | translate">

          <label class="text-danger"
                 *ngFor="let item of formModel.form | transformErrors:'imageUrl'"
                 [innerText]="['Errors',item.message].join('.') | translate">
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-muted">
    <button type="submit"
            [disabled]="editState.IsWait || formModel.invalid"
            class="btn btn-primary btn-icon-split"
            (click)="onSubmit()">
      <span class="icon text-white-50">
        <i class="{{editState.IsWait ? 'spinner-grow spinner-grow-sm' : 'fa fa-check'}}"></i>
      </span>
      <span class="text"
            [innerText]="'Labels.ok' | translate"></span>
    </button>
    <button type="button"
            class="btn btn-danger btn-icon-split"
            routerLink="../">
      <span class="icon text-white-50">
        <i class="fa fa-times"></i>
      </span>
      <span class="text"
            [innerText]="'Labels.cancel' | translate"></span>
    </button>
  </div>
</div>
