<div class="input-group">
  <input class="form-control"
         [placeholder]="placeHolder || ''"
         name="dp"
         [value]="val"
         (change)="dateTypingHandler($event)"
         (dateSelect)="dateSelectHandler($event)"
         [firstDayOfWeek]="6"
         ngbDatepicker
         #d="ngbDatepicker">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary"
            (click)="d.toggle()"
            type="button">
      <i class="fa fa-calendar-alt"></i>
    </button>
  </div>
</div>
