.form-signin {
  .form-label-group {
    label {
      right: 0;
      left: auto;
      text-align: right;
    }
  }
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}
